.caption{
    &-heading{
        font-size: 30px;
        text-align: center;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 400;
        line-height: 1.5;     
        margin-bottom: 55px;    
        color: #2b414d;                               
    }
    @media screen and (max-width: 480px) {
        &-heading{
            font-size: 20px;
        }
    }
    
}