.feature{
    .card-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        padding-top: 80px;
    }
    .card{
        text-align: center;
        &-image{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        &-title{
            font-size: 18px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 400;     
            color: #2b414d;                              
        }
        &-title::after{
            content: "";
            height: 2px;
            width: 30px;
            background-color: #2b414d;
        }
        &-title::after:hover∆†
        &-desc{
            font-size: 14px;
            font-weight: 400;
            font-family: 'Helvetica Neue', sans-serif;
            color: #777c7f;
        }
    }
}