.feature{
    .card-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 80px;
        padding: 80px 0 80px;
    }
    .card{
        text-align: center;
        &-image{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        &-title{
            font-size: 18px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 400;     
            color: #2b414d;   
            position: relative;
            margin: 0 0 40px;                           
        }
        &-title::after{
            content: "";
            left: 50%;
            bottom: -20px;
            height: 2px;
            width: 22px;
            margin: 0 0 0 -11px;
            background: #ccd0d2;
            position: absolute;
        }
        &:hover .card-title::after{
            background-color: red;
        }
        &-desc{
            font-size: 14px;
            font-weight: 400;
            font-family: 'Helvetica Neue', sans-serif;
            color: #777c7f;
            line-height: 1.5;
        }
    }
    @media screen and (min-width: 820px) {
        .card-list{
            gap: 80px;
        }
    }
    @media screen and (min-width: 768px) {
        .card-list{
            gap: 42px;
        }
    }
    @media screen and (max-width: 480px) {
        .card-list{
            padding: 80px 0 90px;
        }
    }
    
}