.footer{
    padding-top: 100px;
    &-centered{
        text-align: center;
    }
    &-from-control{
        padding: 13px 30px 13px 13px;
        border: 2px solid #ececec;
        background: #f8f8f8;
    }
    &-from-control::placeholder{
        color:#ccd0d2;
    }
    &-more{
        padding: 13px;
        background: #00e2574c0;
    }
}