.header{
    &-fluid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon img:hover{
        background: red;
        color: white;
    }
}