.header{
    &-fluid{
        display: flex;
    }
    &-icon{
        display: flex;
        align-items: center;
        ju: unset;
    }
    &-icon img:hover{
        background: red;
        color: white;
    }
}