.simple {
    &-main {
        margin: 85px 0 85px;
    }
    & img {
        float: left;
        margin: 0 60px 0px 0px;
    }

    &-text{
        margin-bottom: 20px;
    }
    @media screen and (max-width: 480px) {
    
    }
    
    @media screen and (max-width: 374.98px) {
        // .container{
        //     max-width: 100%;
        // }
    }
    
}