.slider{
    .swiper {
        height: 360px;
    }
    
}
.slider-show span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:  #fff !important;
    width: 12px;
    height: 12px;
}
.slider-show span.swiper-pagination-bullet {
    background: #848484 !important;
    width: 12px;
    height: 12px;
}